<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Page | AudioAdvisor</title>
</head>
<body>
  <ul>
    <% for (let i = 0; i < urlArray.length; i++) { %>
      <li>
        <p>Song ID: <%= urlArray[i][1].songTitle %></p>
        <audio id="audio<%= i %>" src="<%=urlArray[i][0] %>" preload="audio"></audio>
        <button id="button<%= i %>" onclick="toggleSong(<%= i %>)">Play Song</button>
      </li>
    <% } %>
    </ul>

    <script>
      function toggleSong(index) {
          let audio = document.getElementById('audio' + index);
          let button = document.getElementById('button' + index);
          if (audio.paused) {
            document.querySelectorAll('audio').forEach(allSongs => {allSongs.pause(); button.innerText = 'Play Song';});
            setTimeout(() => { audio.play(); }, 500);
            button.innerText = 'Pause Song';
          } else {
              audio.pause();
              audio.currentTime = 0;
              button.innerText = 'Play Song';
          }
      }
    </script>

</body>
</html>