<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3600">
    <title> Song Data Base | AudioAdvisor</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>


<body>
    Song Data Base
    <div>
        <form action="/api/refreshToken" method="GET">
          <button class="btn">User HomePage</button>
        </form>
      </div>
    <ol>
        <% for (let i=0; i < song.length; i++) { %>
            <% if (!song[i].preview) { %>
                <span>
                        <button class="btn2">No Preview Available</button>
                        <%= song[i].songTitle %>
                        <% } else { %>
                            <span>
                                    <audio id="audio<%= i %>" src="<%=song[i].preview %>" preload="audio"></audio>
                                    <button class="btn2" onclick="toggleSong(<%= i %>)">Play/Pause</button>
                                    <%= song[i].songTitle %>
                            </span>
                            <% } %>


                                <div id="audioContainer"></div>
                                <script>
                                    function toggleSong(index) {
                                        console.log(index);
                                        let audio = document.getElementById('audio' + index);
                                        audio.volume = 0.1;
                                        let button = document.getElementById('button' + index);
                                        if (audio.paused) {
                                            document.querySelectorAll('audio').forEach(allSongs => allSongs.pause());
                                            setTimeout(() => { audio.play(); }, 500);
                                            button.innerText = 'Pause Song';
                                        } else {
                                            audio.pause();
                                            audio.currentTime = 0;
                                            button.innerText = 'Play Song';
                                        }
                                    }
                                </script>
                                <% } %>

                          <div id="audioContainer"></div>
                          <script>
                              function toggleSong(index) {
                                  let audio = document.getElementById('audio' + index);
                                  let button = document.getElementById('button' + index);
                                  if (audio.paused) {
                                      audio.play();
                                      button.innerText = 'Pause Song';
                                  } else {
                                      audio.pause();
                                      button.innerText = 'Play Song';
                                  }
                              }
                          </script>
                        <% } %>

    </ol>

    </div>
</body>

</html>
